<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li ><a href="{{url_for('index')}}">Home</a></li>
            <li ><a href="{{url_for('about')}}">About</a></li>
            <li ><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
    </nav>
    <center>Login Form</center> <br><br>
    <center>
<form action="{{ url_for('login') }}" method="GET">
      <label for="username">Enter your username:</label>
      <input type="text" id="username" name="username" value="" Placeholder="Enter your name here"> <br>
      <br>
      <input type="submit" value="Submit">
    </form>
    </center>
</body>
</html>